.account-icon {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    overflow: hidden;
    background: url(/assets/account-icon.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgba(255,255,255,0.6);
    background-position-y: -30%;
    background-position-x: center;
    border: 1px solid rgba(255,255,255,0.65);
}