@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
.theme-cool-logic .slide {
  background: white;
  color: #212121;
  text-align: left;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  padding: 0.75em;
}

.theme-cool-logic h1,
.theme-cool-logic h2,
.theme-cool-logic h3,
.theme-cool-logic h4,
.theme-cool-logic h5 {
  font-weight: 700;
}

.theme-cool-logic .slide-content {
  font-size: 0.9em;
}

.theme-cool-logic .slide-content h1 {
  font-size: 1.75em;
}

.theme-cool-logic .slide-content h2 {
  font-size: 1.35em;
}

.theme-cool-logic .slide-content h3 {
  font-size: 1.2em;
}

.theme-cool-logic .slide-content h4 {
  font-size: 1em;
}

.theme-cool-logic .slide-content h5 {
  font-size: 0.85em;
}

.theme-cool-logic .slide-content > h2 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #333;
  padding-bottom: 0.5rem;
}

.theme-cool-logic .slide-content em {
  background: #ef2d0a;
  color: white;
  display: inline-block;
  font-weight: 700;
  font-style: normal;
  padding: 0 0.2rem;
}

.theme-cool-logic .slide-content > ul {
  padding-left: 0.75em;
}

.theme-cool-logic .slide-content > ol {
  padding-left: 1em;
}

.theme-cool-logic .slide-content li {
  margin-bottom: 0.125em;
}

.theme-cool-logic blockquote {
  width: 95%;
  margin: 0 auto;
}
