.full-presentation {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-presentation:fullscreen {
    cursor: none;
}

.webkit-fullscreen .full-presentation:-webkit-full-screen {
    cursor: none;
}

.full-presentation::backdrop {
    background: rgb(0, 0, 0);
}