.loading {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading .sk-fading-circle {
    margin: 1.5rem auto;
}

.loading .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.loading-message {
font-size: 1.5rem;
    text-align: center;
    color: hsl(0, 0%, 40%);
}
