.playback-settings-options {
    padding: 0 1rem;
}

.playback-settings-options label {
    margin-bottom: 1rem;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.playback-settings-options .option-label {
    font-weight: 600;
    margin-right: .25rem;
}

.playback-settings-options input[type="radio"] {
    margin-right: .5rem;
    margin-top: .25rem;
}

.playback-settings-options .radio-option {
    display: flex;
    flex-direction: column;
}