.preview-footer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    flex: 0;
    padding: 0;
    width: 100%;
    font-size: .875rem;
    color: rgba(0,0,0,.75);
    margin-bottom: .25rem;
}

.preview-footer .slide-metadata {
    margin-bottom: .25rem;
}